.clock-wrapper {
  background: #333;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.clock {
  border: solid 1rem black;
  -webkit-box-shadow: -0.5px 1px 22px -4px #dddddd;
  -moz-box-shadow: -0.5px 1px 22px -4px #dddddd;
  box-shadow: -0.5px 1px 22px -4px #dddddd;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(27, 26, 26);
  position: relative;

  &::after {
    content: '12';
    position: absolute;
    left: 45%;
    top: 0;
    color: rgb(21, 236, 21);
    font-weight: bolder;
    font-size: 1.5rem;
  }
  &::before {
    content: '6';
    position: absolute;
    bottom: 0;
    left: 45%;
    color: rgb(21, 236, 21);
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .large {
    width: 1px;
    height: 120px;
    position: absolute;
    left: calc(50% - 0.5px);
    top: 50%;
    transform-origin: center 0;
    transform: rotate(0deg);
    background: #908b9b;
  }
}
